* {
    margin: 0;
}

header{
    background-color: black;
    text-decoration: none;
}

p{
    color: red; 
}

div{
    border: solid red 1px;
}

footer{
    background-color: black;
}

li{
    color: red;
}